h1
{
text-align: center;
color: #555 !important;
padding-bottom: 10px;
}
h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}



/*---------pour valider le formulaire--------*/
.container {
    margin-top: 30px;
  }

  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

/*------------------------------------------*/
.margin{
  margin-left:50px;
  margin-bottom: 50px;
  width: 700px;
}
h1
{
text-align: center;
color: #555 !important;
padding-bottom: 10px;
}
h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
