<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../assets/image/Hove Park School 0-13 screenshot.png" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../assets/image/Hove Park School 0-59 screenshot.png" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Digital Leaders</h3>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../assets/image/Hove Park School 2-1 screenshot.png" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Sports & Sports Day</h3>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<!----------à propos----------->
<section id="about">
  <div class="container">
  <div class="row">
    <h2 id="do">Every Student Should</h2>
    <p>Student progress will always remain a key priority
      because outcomes so often dictate future pathways and
       opportunities for young people. The curriculum at Hove
        Park School is not just about the sequencing of lessons
        and subjects across the Key Stages but also the half termly
        project days and extra-curricular provision that together
        enrich and broaden a student’s time at Hove Park. Our vision
        is about identifying the skills, values and attributes that we
        believe students should develop during their time with us and the
        things they will see, hear, try and explore. In essence our vision
        is to provide a whole education for all our students.</p>
  </div>
  </div>
</section>
<!-----services----->
 <section id="services">
   <div class="container">
      <h1>About Us</h1>
      <div class="row services">
        <div class="col-md-3 text-center">
          <div class="icon">
            <mat-icon inline="true" class="ic">group</mat-icon>
          </div>
          <h3>Our community</h3>
          <p>At Hove Park we understand the importance of
            our place within the local community and the role
             we have to play in connecting with local residents,
              other schools, businesses and charitable organisations.</p>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <mat-icon inline="true" class="ic extra">stars</mat-icon>
          </div>
          <h3>Music & Arts</h3>
          <p>Hove Park prides itself on the opportunities for travel
            and discovery. We are a very ethnically diverse school with
            a genuine global take on life both inside and outside school.</p>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <mat-icon inline="true" class="ic extra">enhanced_encryption</mat-icon>
          </div>
          <h3>Mental Health and Wellbeing</h3>
          <p>Hove Park is heavily invested in the emotional wellbeing and mental
            health of all our young people. The work we do to identify mental health
            needs and the packages of support on offer at Hove Park has resulted in local
             and national recognition.</p>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <mat-icon inline="true" class="ic extra">school</mat-icon>
          </div>
          <h3>Languages & Trips</h3>
          <p>Hove Park School has a rich tradition in language learning and enrichment via
            foreign and domestic trips and visits. These opportunities to travel and learn
            new things and new cultures and people lies at the very heart of our global awareness
             as a school.</p>
        </div>
      </div>
   </div>


 </section>
 <!--------team members-------->
 <section id="team">
   <div class="container">

     <h1>Our Team</h1>

     <div class="row">
     <div class="col-md-3 text-center profile-pic">
       <div class="img-box">
         <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" class="img-responsive">
         <ul>
          <a href="#"><li><i class="gg-facebook"></i></li></a>
          <a href="#"><li><i class="gg-twitter"></i></li></a>
           <a href="#"><li><mat-icon>linkedin</mat-icon></li></a>
         </ul>
       </div>
          <h2>Axel Firder</h2>
          <h3>school manager</h3>
          <p>Our aim is to make you in the top
          </p>
     </div>


     <div class="col-md-3 text-center profile-pic">
      <div class="img-box">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" class="img-responsive">
        <ul>
          <a href="#"><li><i class="gg-facebook"></i></li></a>
          <a href="#"><li><i class="gg-twitter"></i></li></a>
          <a href="#"><li><mat-icon>linkedin</mat-icon></li></a>
        </ul>
      </div>
      <h2>Axel Firder</h2>
      <h3>school manager</h3>
      <p>Our aim is to make you in the top
      </p>
      </div>


    <div class=" col-md-3 text-center profile-pic">
      <div class="img-box">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" class="img-responsive">
        <ul>
          <a href="#"><li><i class="gg-facebook"></i></li></a>
          <a href="#"><li><i class="gg-twitter"></i></li></a>
          <a href="#"><li><mat-icon>linkedin</mat-icon></li></a>
        </ul>
      </div>
      <h2>Axel Firder</h2>
      <h3>school manager</h3>
      <p>Our aim is to make you in the top
      </p>
      </div>
    <div class=" col-md-3 text-center profile-pic">
      <div class="img-box">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" class="img-responsive">
        <ul>
          <a href="#"><li><i class="gg-facebook"></i></li></a>
          <a href="#"><li><i class="gg-twitter"></i></li></a>
          <a href="#"><li><mat-icon>linkedin</mat-icon></li></a>
        </ul>
      </div>
      <h2>Axel Firder</h2>
      <h3>school manager</h3>
      <p>Our aim is to make you in the top
      </p>
     </div>
  </div>

   </div>
 </section>
 <!-----------promo------------>
 <section id="promo">
   <div class="container">
      <h3>Pledge to Read<br>
        Monday 1st February to World Book Day (Thursday 4th March)</h3>
      <p>We are asking everyone in our school community to make their own
        pledge to read between Monday, 1st February and World Book Day (Thursday, 4th March).</p>
      <a href="#" class="btn btn-primary">Read more>></a>
   </div>
</section>
<!----------get in touch--------->
<section id="contact">
  <div class="container">
     <h1>Get In Touch</h1>
     <div class="row">
       <div class="col-md-6">
         <form class="contact-form"
               (ngSubmit)="onSubmit()"
                #dataOne="ngForm">
           <div class="form-group">
             <input type="text"
             class="form-control"
             placeholder="Your name"
             ngModel
             name="name"
             required>
           </div>
           <div class="form-group">
            <input type="number"
                   class="form-control"
                   placeholder="Phone no."
                   ngModel
                   name="Phone"
                   required
                   minlength="10">
          </div>
          <div class="form-group">
            <input type="email"
                   class="form-control"
                   placeholder="Email id"
                   ngModel
                    name="email"
                    required
                    email
                    #email="ngModel">
          </div>
          <div class="form-group">
            <textarea class="form-control"
                      rows="4"
                      placeholder="Message"
                      ngModel
                      name="question"></textarea>
          </div>
           <button type="submit"
                  class="btn btn-primary"
                  [disabled]="!dataOne.valid">Send a Message</button>
         </form>
       </div>
       <div class="col-md-6 contact-info">
         <div class="follow"><b>addres :</b><Address>171 avenue de luminy <br> 13009 Marseille, France</Address></div>
         <div class="follow"><b>Phone :</b>+33 7 55 70 09 42<i class="fa fa-map-phone"></i></div>
         <div class="follow"><b>email :</b>nabilbabaammi47@gmail.com<i class="fa fa-envelpe-o"></i></div>
       </div>
     </div>
  </div>
</section>
<!---------footer---------->
<section id="footer">
  <div class="container text-center">
      <p>Made By me<i class="gg-code-climate"></i></p>
  </div>
</section>

