<!--------------------team---------------------------->

<h1>Commencer une formation </h1>
<div class="all">
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/fa/6926005ea411e490ff8d4c5d4ff426/chemistry_logo.png?auto=format%2Ccompress&dpr=1&w=150&h=150&fit=crop" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About this Course</h5>
      <p class="card-text">This course is designed to cover subjects in advanced high school chemistry courses, correlating to the standard topics as established by the American Chemical Society.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Read more>></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/f5/20e3a2c53441188d012f14dce34b96/Logo-SquareWithBugs-small-05.png?auto=format%2Ccompress&dpr=1&w=150&h=150&fit=crop" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About this Course</h5>
      <p class="card-text">Of all the animals on earth, which are the strongest for their size? What about the fastest? Who were the first animals to evolve flight? Insects take all of these titles and more!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Read more>></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/a7/3b2ef504dc4c08cf37ad097944120f/logo.png?auto=format%2Ccompress&dpr=1&w=150&h=150&fit=crop" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About this Course</h5>
      <p class="card-text">An introduction to physics in the context of everyday objects.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Read more>></a>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/eb/dedff0499e11e493d05fc248fbb935/logo4.png?auto=format%2Ccompress&dpr=1&w=150&h=150&fit=crop" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About this Course</h5>
      <p class="card-text">This is an introductory course for students with limited background in chemistry; basic concepts such as atomic and molecular structure, solutions, phases of matter, and quantitative problem solving will be emphasized with the goal of preparing students for further study in chemistry.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Read more>></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/dc/dd7620e18511e6954ec941c3fa63ee/scienceofsuccess_thumbnail_1x1.png?auto=format%2Ccompress&dpr=1&w=150&h=150&fit=crop" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About this Course</h5>
      <p class="card-text">This engaging course is designed to help you achieve the success that you desire. Drawing on decades of scientific research, you will learn what the most successful people do differently than others.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Read more>></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/1c/2d5f70478b11e5a1df33e27bc524e9/BigHistory_BHI_Globaia-1000x1000-_2_.jpg?auto=format%2Ccompress&dpr=1&w=150&h=150&fit=crop" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About this Course</h5>
      <p class="card-text">We currently face unprecedented challenges on a global scale. These problems do not neatly fall into disciplines. They are complicated, complex, and connected. Join us on this epic journey of 13.8 billion years starting at the Big Bang and travelling through time all the way to the future. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Read more>></a>
    </div>
  </div>
</div>
</div>

